Assets/Stones/Materials/ContaderoNormalMap.png
Assets/Stones/Materials/MonkeyNormalMap.png
Library/ArtifactDB
Library/Artifacts/28/2869dfa5f6e577eab2c039111e2ecd25
Library/Artifacts/bf/bfe78055ca41c45ca7b8dfd2c212afb8
Library/PackageCache/com.ptc.vuforia.engine@efa13d4486/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
Library/PackageCache/com.unity.sysroot.linux-x86_64@0.1.14-preview/data~/payload.tar.7z
Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@0.1.21-preview/data~/payload.tar.7z
Library/PlayerDataCache/Android/Data/data.unity3d
